.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filter-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-check {
  margin-bottom: 1rem;
  text-align: left;
}

input[type="text"] {
  padding: 0.5em;
  font-size: 1em;
  border: none;
  background-color: #824247;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: #513844;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

body {
  background-color: #e5564d;
}

.items {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item img {
  border-bottom: solid #000 3px;
  width: 100%;
  height: 250px;
  padding: 5px;
}

.item {
  width: 33%;
  margin-bottom: 25px;
  /* border-radius: 5px;
  border: #000 solid 3px; */
}

.item h1 {
  font-size: 30px;
  text-align: center;
}

.content {
  margin-top: 20px;
}
