body {
    background-color: #e5564d;
}

.full-list {
    background: white;
    margin-left: 25%;
    position: absolute;
    top: 10%;
    width: 50%;
    text-align: center;
    height: 100%;
}

.list-img {
    display: flex;
    justify-content: space-around;
}

h4,
h3 {
    margin-left: 2%;
    text-align: left;
}

p {
    margin-left: 2%;

    text-align: left;

}